/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
    color: #ffffff;
}

body {
    width: 100%;
    min-width: 320px;
    border: 0px;
    background-color: #2361b0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: justify;
}

.overfooter {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    min-height: calc(100% - 133px);
    padding: 0px 20px 133px 20px;
}

footer {
    height: 133px;
    margin-top: -133px;
    background-color: #ffffff;
    text-align: center;
    color: #000;
    font-size: 20px;
    /* Чтобы текст в футере выделялся (z-index и position):*/
    z-index: 1;
    position: relative;
}


@media screen and (max-width: 480px) {
/* Display 320px AND 480px*/
    html {
        font-family: OpenSansLight;
    }
    .navigation {
        margin: 10px 0 0 0;
        width: 100%;
        font-size: 14px;
    }
    .navigation .small {
        float: left;
    }
    .navigation .small_menu {
        float: right;
    }
    .small_menu ul {
        position: absolute;
        margin: -1000px;
        max-width: 500px;
        -moz-transform: scale(0, 0) rotate(90deg); /* Для Firefox */
        -ms-transform: scale(0, 0) rotate(90deg); /* Для IE */
        -webkit-transform: scale(0, 0) rotate(90deg); /* Для Safari, Chrome, iOS */
        -o-transform: scale(0, 0) rotate(90deg); /* Для Opera */
        transform: scale(0, 0) rotate(90deg);
        -webkit-transition: transform 0.9s;
        -moz-transition: transform 0.9s;
        -o-transition: transform 0.9s;
        transition: transform 0.9s;
        transition: transform 0.9s;
    }
    .small_menu label input {
        position: absolute;
        max-width: 500px;
        margin: -1000px;
    }
    .small_menu label input + .hamburger {
        width: 17px;
        height: 14px;
        background:linear-gradient(to bottom, #fff 0%, #fff 20%,
          transparent 20%, transparent 40%, #fff 40%, #fff 60%,
          transparent 60%, transparent 80%, #fff 80%, #fff 100%);

    }
    .small_menu label input:checked + .hamburger {
        width: 17px;
        height: 14px;
        background:linear-gradient(45deg, transparent 0%, transparent 40%,
          red 40%, red 60%, transparent 60%, transparent 100%),
                   linear-gradient(-45deg, transparent 0%, transparent 40%,
          red 40%, red 60%, transparent 60%, transparent 100%);
    }
    .small_menu label input:checked + .hamburger + ul {
        display: block;
        position: absolute;
        z-index: 2;
        color: black;
        font-size: 18px;
        padding: 4px;
        background: #fff;
        text-align: left;
        width: 146px;
        margin-top: 5px;
        border-radius: 10px;
        margin-left: -140px;
        -moz-transform: scale(1, 1) rotate(0deg); /* Для Firefox */
        -ms-transform: scale(1, 1) rotate(0deg); /* Для IE */
        -webkit-transform: scale(1, 1) rotate(0deg); /* Для Safari, Chrome, iOS */
        -o-transform: scale(1, 1) rotate(0deg); /* Для Opera */
        transform: scale(1, 1) rotate(0deg);

    }
    .small_menu label input:checked + .hamburger + ul li {
        border-top: solid 1px;
        border-color: #808080;
    }
    .small_menu label input:checked + .hamburger + ul li:first-child {
        border-top: solid 0px;
    }

    .navigation > ul {
        position: absolute;
        max-width: 500px;
        margin: -1000px;
    }

}


@media screen and (max-width: 320px) {
/* Display 320px only */


}

@media screen and (min-width: 321px) and (max-width: 480px) {
/* Display 321-480px only */


}

@media screen and (min-width: 481px) {
/* Display >480px */
    html {
        font-family: OpenSansRegular;
    }

    header {
        text-align: center; /* Чтобы дочернее меню было по центру */
    }

    .navigation {
        margin: 39px 0 0 0;
    }
    .navigation .small, .navigation .small_menu {
        position: absolute;
        max-width: 500px;
        margin: -1000px;
    }
    .navigation ul {
        display: inline-block;
        padding: 0px;
        vertical-align: middle;
    }
    .navigation ul li {
        padding: 0px 25px;
        display: inline-block;
        font-size: 21px;
        border-left: solid 2px;
        height: 34px;
    }
    .navigation ul li:first-child {
        border-left: solid 0px;
    }






    .content > div {
        display: inline-block;
        vertical-align: top;
    }

    .text_page {
        min-height: 300px;
    }

    body p, body h1, body h2, body h3, body h4 {
        margin: 35px 2px;
    }
    body h1 {
        font-size: 30px;
    }
    body p, .puzzle_button > button {
        font-size: 24px;
    }


}












.navigation {
	display: inline-block;
	line-height: 1;
}

.nothing {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

article {
    margin: 45px 0 75px 0;
}

.my_foto > img {
    border-radius: 50%;
    box-shadow: 0 0 55px -5px white;
    width: 286px;
    height: 286px;
}

.my_foto {
    float: left;
    margin: 0 15px 0 0;
    width: 286px;
}

body input, body select, body textarea {
    color: black;
}

p {
    text-indent: 1em;
}

.puzzle_button{
    width: 100%;
    text-align: right;
}
.puzzle_button > button {
    width: 310px;
    height: 50px;
    background: #d74141;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 black;
    margin: 25px 0 25px 0;
}

.weather {
    width: 100%;
    height: 66px;
    background: white;
    margin: 25px 0 25px 0;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}
.rainfall {
    width: 50px;
    height: 50px;
    float: left;
    margin: 8px 15px;
}

.weather_logo {
    width: 230px;
    height: 50px;
    float: right;
    margin: 8px 15px;
}

.weather_text {
    width: 450px;
    display: inline-block;
    vertical-align: middle;
}

.scroll_up_window {
    position: absolute; /* фиксированная позиция */
    right: 20px;
    bottom: 0px;
    top: 100px;
    width: 55px;
    height: 100%;
}
.scroll_up_button {
    position: fixed; /* фиксированная позиция */
    bottom: 140px;
    width: 55px;
    margin: 0;
    text-align: center;
    display: none;
    z-index: 1;
}
.triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 15px solid transparent; /* Прозрачные границы */
    border-top: 0px;
    border-bottom: 25px solid white; /* Добавляем треугольник */
}

.footer_contact {
    height: 45px;
}
.box_block {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 15px;
}
.box_block img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.footer_name {
    height: 45px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-decoration: underline;
}
.footer_license {
    height: 43px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 18px;
}
