@media screen and (max-width: 370px) {
/* Display 320px only */
    body h1, body h2 {
        font-size: 20px;
    }

    body p {
        font-size: 14px;
    }
}

@media screen and (min-width: 371px) and (max-width: 480px) {
/* Display 321-480px only */
    body h1, body h2 {
        font-size: 22px;
    }

    body p {
        font-size: 18px;
    }
}

@media screen and (min-width: 481px) {
/* Display >480px */
    body h1, body h2 {
        font-size: 30px;
    }

    body p {
        font-size: 18px;
    }
}



body h1 {
    font-family: OpenSansSemiBold;
    margin: 0 0 15px 0;
}

body h2 {
    font-family: OpenSansRegular;
    margin: 5 0 25px 0;
}


.examples_work_img {
    max-width: 286px;
    float: left;
    margin: 0 35px 10px 0;
    width: 40%;
}
.examples_work_img > img {
    border-radius: 50%;
    box-shadow: 0 0 55px -5px white;
    width: 100%;
    height: 100%;
}

.web_link {
    display: inline-block;
    width: 50%;
    padding: 2px 0;
    white-space: nowrap; /* запрет на перенос строк */
    overflow: hidden; /* скрываю все, что не помещается */
    text-overflow: ellipsis; /* добавляю многоточие */
    margin: 20px 2% 15px 0;
}

.examples_wor_obj {
    border-top: solid 1px;
    padding: 40px 0 0 0;
}
.examples_wor_obj:first-child {
    border-top: 0px;
}
