<br><a href="{% url 'main' %}">Сайт</a>
<br>
<br><a href="{% url 'admin' %}">Тексты Главной страницы здесь.</a>
<br><a href="{% url 'admin_examples_work_python' %}">Тексты страницы Примеров работ на Python/Django здесь.</a>
<br><a href="{% url 'admin_examples_work_js' %}">Тексты страницы Примеров работ на JavaScript здесь.</a>
<br><a href="{% url 'admin_examples_work_html_css' %}">Тексты страницы Примеров работ на Html5/Css здесь.</a>
<br><a href="{% url 'admin_education' %}">Тексты страницы Учебы здесь.</a>
<br><a href="{% url 'admin_works' %}">Тексты страницы Работы здесь.</a>
<br><a href="{% url 'admin' %}">Тексты страницы Контактов здесь.</a>
