{% extends "base.html" %}

{% block title %}Админка{% endblock %}
{% block content  %}
    {% include 'admin_menu.html' %}
    <br>
    <h1>Временная страница админки примеров работ на Html5/Css. Доступна только в режиме отладки для наполнения БД.</h1>
    <p>Тексты страницы примеров работ на питоне здесь:</p>
    <br>
    {% for h1 in object_list %}
<p><a style="color:#e2afaf;" href="{% url 'admin_examples_work_html_css-del_h1' h1.id%}">del</a> <a href="{% url 'admin_examples_work_html_css-update_h1' h1.id%}">{{h1.ordinal}} - {{h1.text}}</a></p>
        {% for h2 in h1.exampleshtml_cssheaderorlist2text_set.all %}
<p>&nbsp;<a style="color:#e2afaf;" href="{% url 'admin_examples_work_html_css-del_h2' h2.id%}">del</a> <a href="{% url 'admin_examples_work_html_css-update_h2' h2.id%}">{{h2.ordinal}} - {{h2.text}}</a></p>
            {% for h3 in h2.exampleshtml_cssheaderorlist3text_set.all %}
<p>&nbsp;&nbsp;<a style="color:#e2afaf;" href="{% url 'admin_examples_work_html_css-del_h3' h3.id%}">del</a> <a href="{% url 'admin_examples_work_html_css-update_h3' h3.id%}">{{h3.ordinal}} - {{h3.text}}</a></p>
                {% for h4 in h3.exampleshtml_cssheaderorlist4text_set.all %}
<p>&nbsp;&nbsp;&nbsp;<a style="color:#e2afaf;" href="{% url 'admin_examples_work_html_css-del_h4' h4.id%}">del</a> <a href="{% url 'admin_examples_work_html_css-update_h4' h4.id%}">{{h4.ordinal}} - {{h4.text}}</a></p>
                    {% for text in h4.exampleshtml_csstext_set.all %}
<p>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#e2afaf;" href="{% url 'admin_examples_work_html_css-del_text' text.id%}">del</a> <a href="{% url 'admin_examples_work_html_css-update_text' text.id%}">{{text.ordinal}} - {{text.text}}</a></p>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}
