{% extends "base.html" %}

{% block title %}Админка{% endblock %}
{% block content  %}
    {% include 'admin_menu.html' %}
    <br>
    <br><a href="{% url 'admin_education-add' %}">Добавить объект</a>
    <br>
    <h1>Временная страница админки Учёбы (образования). Доступна только в режиме отладки для наполнения БД.</h1>
    <p>Тексты страницы Учёбы здесь:</p>
    <br>
    {% for obj in object_list %}
        <hr>
        <p><a style="color:#e2afaf;" href="{% url 'admin_education-del' obj.id%}">del</a></p>
<p><i>№</i> <a href="{% url 'admin_education-update' obj.id%}">{{obj.ordinal}}</a></p>
<p><i>Описание учёбы:</i> <a href="{% url 'admin_education-update' obj.id%}">{{obj.text}}</a></p>
    {% endfor %}
{% endblock %}
