{% extends "base.html" %}

{% block title %}Админка{% endblock %}
{% block content  %}
    {% include 'admin_menu.html' %}
    <br>
    <br><a href="{% url 'admin_examples_work_python-add' %}">Добавить объект</a>
    <br>
    <h1>Временная страница админки примеров работ на питоне. Доступна только в режиме отладки для наполнения БД.</h1>
    <p>Тексты страницы примеров работ на питоне здесь:</p>
    <br>
    {% for obj in object_list %}
        <hr>
        <p><a style="color:#e2afaf;" href="{% url 'admin_examples_work_python-del' obj.id%}">del</a></p>
<p><i>№</i> <a href="{% url 'admin_examples_work_python-update' obj.id%}">{{obj.ordinal}}</a></p>
<p><i>Имя проекта:</i> {{obj.name_project}}</p>
<p><i>Картинка:</i>
    {% if obj.image_file %}
        <img src="{{ MEDIA_URL }}{{obj.image_file}}">
    {% else %}
        не загружена.
    {% endif %}
</p>
<p><i>Ссылка на проект в сети:</i> {{obj.net_address}}</p>
<p><i>Ссылка на git:</i> {{obj.git_address}}</p>
<p><i>Описание проекта:</i> <a href="{% url 'admin_examples_work_python-update' obj.id%}">{{obj.text}}</a></p>
    {% endfor %}
{% endblock %}
