{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Главная{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content  %}
    <div>
        <img class="my_foto" src="{% static 'general/img/my_foto_winter.jpg' %}">
    </div>
    <div>
        <h1>Добрый день. Меня зовут Иван Голубых. Я - программист</h1>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    <div>
        <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
    </div>
    {% for h1 in objects %}
        <div>
            <p>Добрый день. Меня зовут Иван Голубых. Я - программист</p>
        </div>
    {% endfor %}
{% endblock %}
