{% load staticfiles %}
<div class="weather"><!--
 --><img alt="Иконка погоды" id="weather_img" class="rainfall" src="{% static 'general/img/empty.gif' %}"><!--
 --><div class="weather_text">
	<span>Погода в Санкт-Петербурге сейчас:</span>
		<span id="weather_temperature">вычисляется...</span>
		<span id="weather_text">...</span>
	</div><!--
 --><div class="nothing"></div><!--
 --><img alt="Иконка погоды" class="weather_logo" src="{% static 'app_main/img/wundergroundLogo_4c_horz.jpg' %}">
</div>
<script src="{% static 'general/js/weather.js' %}"></script>
<script>
	var get_weather_url = '{% url 'weather_json' %}'
	get_weather();
</script>
