{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Главная{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content  %}
    <div class="my_foto">
        <img src="{% static 'general/img/my_foto_winter.jpg' %}">
    </div>
    <div class="text_page">
        {% for h1 in object_list %}
            {% if h1.text %}
                <h1>{{ h1.text|safe }}</h1>
            {% endif %}
            {% for h2 in h1.mainheader2text_set.all|dictsort:"ordinal" %}
                {% if h2.text|safe %}
                    <h2>{{ h2.text }}</h2>
                {% endif %}
                {% for h3 in h2.mainheader3text_set.all|dictsort:"ordinal" %}
                    {% if h3.text|safe %}
                        <h3>{{ h3.text }}</h3>
                    {% endif %}
                    {% for h4 in h3.mainheader4text_set.all|dictsort:"ordinal" %}
                        {% if h4.text|safe %}
                            <h4>{{ h4.text }}</h4>
                        {% endif %}
                        {% for text in h4.maintext_set.all|dictsort:"ordinal" %}
                            {% if text.text %}
                                <p>{{ text.text|safe }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="puzzle_button">
        <button>Получить загадку</button>
    </div>
    <div class="weather">
        <img id="weather_img" class="rainfall" src="{% static 'general/img/empty.gif' %}">
        <img class="weather_logo" src="{% static 'general/img/wundergroundLogo_4c_horz.jpg' %}">
        <div class="nothing"></div><!--
     --><div class="weather_text">
            Погода в Санкт-Петербурге сейчас:
            <br><span id="weather_temperature">вычисляется..., </span>&deg;C,
            <span id="weather_text">...</span>
        </div>
    </div>
{% endblock %}

{% block EndJScript %}
	<script src="{% static 'app_main/js/main_page.js' %}"></script>
    <script>
        var get_weather_url = '{% url 'weather_json' %}'
        get_weather();
    </script>
{% endblock %}
